= form_for @order do |f|
  = render partial: "application/model_alert", locals: {object: @order}
  = f.hidden_field :confirming
  .contents
    %h5=t("order.required_item")
  -# now invisible
  .order_products
    = f.fields_for :order_details do |op|
      = op.hidden_field :product_id
      = op.hidden_field :num
      = op.hidden_field :charge
      = op.hidden_field :charge_tax_in
    = f.hidden_field :sum
    = f.hidden_field :sum_tax_in
  .nursery.contents
    .contents.title
      %h3= t("order.question_nursery")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :org_nursery_name, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :org_nursery_name, class: "form-control", placeholder: t("order.example_nursery_organization_name")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :org_nursery_kana, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :org_nursery_kana, class: "form-control", placeholder: t("order.example_nursery_organization_name_kana")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_name, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :nursery_name, class: "form-control", placeholder: t("order.example_name")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_kana, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :nursery_kana, class: "form-control", placeholder: t("order.example_name_kana")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_postal, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_postal, class: "form-control", placeholder: t("order.example_postal_code")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_addr1, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_addr1, class: "form-control", placeholder: t("order.example_address1")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_addr2, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_addr2, class: "form-control", placeholder: t("order.example_address2")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_phone, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_phone, class: "form-control", placeholder: t("order.example_phone")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_fax, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_fax, class: "form-control", placeholder: t("order.example_phone")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_email, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_email, class: "form-control", placeholder: t("order.example_email")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_responder_name, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_responder_name, class: "form-control", placeholder: t("order.example_responder")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :nursery_responder_kana, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.text_field :nursery_responder_kana, class: "form-control", placeholder: t("order.example_responder_kana")
    .contents
  .cash_back.contents
    .contents.title
      %h4= t("order.has_experience")
    %small= t("order.cash_back_condition")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :is_first_order, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.select :is_first_order, {t("order.first_time") => true, t("order.experienced") => false }, {}, value: @order.is_first_order, class: "form-control"
    #experience.contents
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :same_org_other_nursery_name, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :same_org_other_nursery_name, class: "form-control", placeholder: t("order.example_experienced_nursery_name")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :same_org_other_nursery_phone, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :same_org_other_nursery_phone, class: "form-control", placeholder: t("order.example_phone")
      %small= t("order.cash_back_applying")

  .shipping.contents
    .contents.title
      %h4= t("order.shipping")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :is_ship_to_nursery, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.select :is_ship_to_nursery, {t("order.ship_to_nursery") => true, t("order.other_place") => "false"}, {}, value: @order.is_ship_to_nursery, class: "form-control"
    #shipping.contents
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_name, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_name, class: "form-control", placeholder: t("order.example_name")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_kana, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_kana, class: "form-control", placeholder: t("order.example_name_kana")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_postal, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_postal, class: "form-control", placeholder: t("order.example_postal_code")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_addr1, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_addr1, class: "form-control", placeholder: t("order.example_address1")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_addr2, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_addr2, class: "form-control", placeholder: t("order.example_address2")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_phone, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :shipping_phone, class: "form-control", placeholder: t("order.example_phone")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_responder_name, class: "label label-info fixed-width"
        .col-lg-10.col-md-9
          = f.text_field :shipping_responder_name, class: "form-control", placeholder: t("order.example_responder")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :shipping_responder_kana, class: "label label-info fixed-width"
        .col-lg-10.col-md-9
          = f.text_field :shipping_responder_kana, class: "form-control", placeholder: t("order.example_responder_kana")

  .billing.contents
    .contents.title
      %h4= t("order.billing_option")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :billing_ship_to, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.select :billing_ship_to, {t("order.ship_to_nursery") => 0, t("order.ship_to_shipping") => 1, t("order.other_place") => 2}, {}, value: @order.billing_ship_to, class: "form-control"
    #billing.contents
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_name, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_name, class: "form-control", placeholder: t("order.example_name")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_kana, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_kana, class: "form-control", placeholder: t("order.example_name_kana")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_postal, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_postal, class: "form-control", placeholder: t("order.example_postal_code")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_addr1, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_addr1, class: "form-control", placeholder: t("order.example_address1")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_addr2, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_addr2, class: "form-control", placeholder: t("order.example_address2")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_shipping_phone, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.text_field :billing_shipping_phone, class: "form-control", placeholder: t("order.example_phone")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_responder_name, class: "label label-info fixed-width"
        .col-lg-10.col-md-9
          = f.text_field :billing_responder_name, class: "form-control", placeholder: t("order.example_responder")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :billing_responder_kana, class: "label label-info fixed-width"
        .col-lg-10.col-md-9
          = f.text_field :billing_responder_kana, class: "form-control", placeholder: t("order.example_responder_kana")

  .billing_name.contents
    .contents.title
      %h4= t("order.billing_name_option")
      %small= t("order.billing_name_explain")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :billing_name_option, class: "label label-info fixed-width"
      .col-lg-10.col-md-9
        = f.select :billing_name_option, {t("order.billing_name_option_item1") => 0, t("order.billing_name_option_item2") => 1, t("order.billing_name_option_item3") => 2}, {}, value: @order.billing_name_option, class: "form-control"

  .nursery.contents
    .contents.title
      %h4= t("order.nursery_condition")
    .nursery.contents
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :nursery_condition, class: "label label-info fixed-width required"
        .col-lg-10.col-md-9
          = f.select :nursery_condition, {t("order.operating") => 0, t("order.preparing_new") => 1, t("order.preparing_change") => 2}, {}, value: @order.nursery_condition, class: "form-control"
      #open_or_change_corp
        .row.sub-contents
          .col-lg-2.col-md-3
            = f.label :nursery_will_change_at, class: "label label-info fixed-width required"
          .col-lg-10.col-md-9
            = f.text_field :nursery_will_change_at, class: "form-control", placeholder: t("order.example_nursery_will_change_at")
        .row.sub-contents
          .col-lg-12
            %small= t("order.shipping_explain")
          .col-lg-2.col-md-3
            = f.label :shipping_option, class: "label label-info fixed-width required"
          .col-lg-10.col-md-9
            = f.select :shipping_option, {t("order.ship_to_shipping") => 0, t("order.ship_to_billing") => 1, t("order.ship_to_nursery") => 2}, {}, value: @order.shipping_option, class: "form-control"
  .contact.contents
    .contents.title
      %h4= t("order.contact")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :contact_name, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :contact_name, class: "form-control", placeholder: t("order.example_name")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :contact_kana, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :contact_kana, class: "form-control", placeholder: t("order.example_responder_kana")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :contact_phone, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :contact_phone, class: "form-control", placeholder: t("order.example_phone")
    .row.sub-contents
      .col-lg-2.col-md-3
        = f.label :contact_email, class: "label label-info fixed-width required"
      .col-lg-10.col-md-9
        = f.text_field :contact_email, class: "form-control", placeholder: t("order.example_email")

  .request.contents
    .sub-contents
      %h5= t("order.request")
      .row.sub-contents
        .col-lg-2.col-md-3
          = f.label :request, class: "label label-info fixed-width"
        .col-lg-10.col-md-9
          = f.text_area :request, class: "form-control"
  .attention.contents
    %p
      %small= t("order.attention1")
    %p
      %small= t("order.attention2")
    %p
      %small= t("order.attention3")
    %p
      %small= t("order.attention4")
  .other.contents
    = render partial: "form/privacy"
  .actions
    = f.submit t("action.confirm"), data:{ disable_with: t("action.sending") }, class: "btn btn-success", id:"confirm_button"
