!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"name" => "viewport", "content"=>"width=device-width", "initial-scale"=>"1.0"}
    %title Customerservice
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "user_navigation_header"
    = render partial: "contents_navigation_header"
    = render partial: "alert"
    .main-content
      = yield
    .bottom-items
      = render partial: "footer"
